{%load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Random APIs Blog</title>
    <link rel="stylesheet" href="{% static 'styles.css'%}" type="text/css" />
    <style type="text/css">.body { width: auto; }</style>
    <meta name="description" content="description"/>
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=font1|font2|etc"
      type="text/css"
    />
  </head>
  <body>
    <h1>Welcome to Random Facts and Images</h1>
    <h1>Random Events</h1>
    <p>{{events}}</p>
     <h1>Are you bored?</h1>
    <p>{{activity}}</p>
     <h1>Guess the Dog breed.</h1>
    <p>{{dog}}</p>
  </body>
</html>